.card-event {
  max-width: $card-width;
  position: relative;
}

.card-event_large {
  grid-row: span 2;

  @media (max-width: 767px) {
     grid-row: span 1;
    }
}

.card-event__header{
  @include flex;
  min-height: 32px;
  gap: 10px;
  padding: 0 16px 4px 8px;

  @media (max-width: 767px) {
      padding-right: 10px;
      padding-bottom: 0;
    }
}

.card-event__link-header{
  display: flex;
  border-radius: 5px;
}


.card-event__avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;


  @media (max-width: 767px) {
      width: 28px;
      height: 28px;
    }
}

.card-event__organizer {
  margin: 8px 0 14px 10px;
  @include font-style ($size: 14px);
  color: $color-text-dark;
  flex-grow: 1;

  @media (max-width: 767px) {
        margin: 6px 0 14px 8px;
    }
}

.card-event__recommendation {
  box-sizing: border-box;
  height: 21px;
  @include font-style ($size: 12px, $height: 12px);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $font-color-light;
  background: $color-light-blue;
  border-radius: 6px 6px 0 6px;
  padding: 5px 9px 0 9px;
  align-items: flex-start;
  margin: 9px 0 0 0;
  display: none;
}

@media (max-width: 767px) {
  .card-event__recommendation  {
    @include font-style ($size: 10px, $height: 9px);
    height: 18px;
    padding: 4px 5px 0 8px;
    border-radius: 4px 4px 0 4px;
    margin-top: 6px;
  }
}

.card-event__recommendation_visible {
  display: block;
}

.card-event__link {
  display: block;
  max-width: $card-width;
  min-height: 224px;
  border-radius: 14px 0 14px 14px;
  background-color: #EDF0F7;
  font-size: 0;
  text-decoration: none;

  @media (max-width: 1279px) {
    max-width: 358px;
  }

  @media (max-width: 767px) {
    max-width: $card-width-small;
    min-height: 176px;
    border-radius: 10px 0 10px 10px;
  }
}

.card-event__link:hover ~ .card-event__date {
  opacity: 1;
  transition: opacity 0.3s ease;
}

@media (max-width: 767px) {
  .card-event__link_large  {
    @include flex($justify-content: center);
    align-items: center;
  }
}

.card-event__image {
  width: $card-width;
  object-fit: cover;
  border-radius: 14px 0 14px 14px;
  background-color: #EDF0F7;

  @media (max-width: 1279px) {
      width: 358px;
      height: 224px;
  }

  @media (max-width: 767px) {
    width: 288px;
    height: 176px;
    border-radius: 12px 0 12px 12px;
  }
}

.card-event__image_large {
  height: 600px;

  @media (max-width: 767px) {
      width: 102px;
      height: 151px;
      border-radius: 0;
  }
}

.card-event__date {
  position: absolute;
  top: 58px;
  right: 16px;
  max-width: 73px;
  min-height: 80px;
  background: #323233;
  opacity: 0.75;
  border-radius: 8px 0 8px 8px;
  @include font-style($size: 14px, $height: 14px);
  text-align: center;
  color: $font-color-light;
  padding: 5px 8px;
  box-sizing: border-box;
  margin: 0;

  @media (max-width: 767px) {
      @include font-style ($weight: 400, $size: 12px);
      padding: 2px 6px;
      max-width: 62px;
      min-height: 68px;
      top: 48px;
      right: 11px;
  }
}

.card-event__date-day {
  @include font-style ($weight: 600, $size: 32px, $height: 35px);
  padding: 0 10px;

  @media (max-width: 767px) {
    @include font-style ($size: 26px, $height: 28px);
  }
}

.card-event__footer {
  @include flex;
  padding: 7px 8px 0 8px;
}

.card-event__place {
  @include font-style ($weight: 400, $size: 14px);
  color: $color-light-blue;
  margin: 0;
}

.card-event__type {
  @include font-style ($weight: 400, $size: 14px);
  color: #88898C;
  margin: 0;
}

.card-event__footer-link {
  display: block;
}

.card-event__title {
  max-width: 348px;
  @include font-style ($size: 20px, $height: 24px);
  line-height: 24px;
  color: $color-text-dark;
  margin: 10px 0 0 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;

  @media (max-width: 767px) {
    @include font-style ($size: 18px, $height: 24px);
    margin-top: 7px;
    padding-right: 5px;
  }
}

.card-event__link-text {
  @include font-style ($size: 32px, $height: 32px);
  max-width: 235px;
  vertical-align: center;
  padding: 47px 0 0 24px;
  margin: 0;
  color: $color-text-dark;

  @media (max-width: 767px) {
    max-width: 193px;
    min-height: 140px;
    @include font-style ($size: 26px, $height: 28px);
    padding: 30px 0 0 16px;
  }
}

.card-event_color {
  height: 224px;
  margin-top: 40px;
  background: linear-gradient(180deg, #52BBFA 0%, $color-light-blue 100%), $color-light-blue;
  border-radius: 14px;

  @media (max-width: 767px) {
    height: 184px;
    margin-top: 20px;
    border-radius: 12px;
  }
}

.card-event__logo {
  margin: 21px 0 0 23px;
  width: 72px;
  height: 15px;

  @media (max-width: 767px) {
    margin: 17px 0 5px 16px;
  }
}

.card-event__heading {
  max-width: 312px;
  @include font-style ($size: 32px, $height: 32px);
  color: $font-color-light;
  padding: 22px 0 0 28px;
  margin: 0;
  position: relative;

  @media (max-width: 1279px) {
    max-width: 306px;
    min-height: 130px;
    padding-top: 7px;
  }

  @media (max-width: 767px) {
    max-width: 256px;
    min-height: 94px;
    @include font-style ($size: 26px, $height: 28px);
    padding-left: 15px;
  }
}

.card-event__link-info {
  @include font-style ($weight: 400, $height: 24px);
  color: $font-color-light;
  text-align: end;
  margin: 0 51px 0 0;
  position: absolute;
  bottom: 19px;
  right: 0;

  @media (max-width: 1279px) {
    bottom: 0;
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    @include font-style ($weight: 400, $size: 14px);
    bottom: -6px;
    right: -15px;
  }
}

.card-event__link-info:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  @include arrow-after;

  @media (max-width: 767px) {
    top: 5px;
    right: -16px;
    @include arrow-after($size: 5px);
  }
}