.events {
  margin: 0 auto;
  max-width: 1140px;
  padding: 72px 0 1394px 0;

  @media (max-width: 1439px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 1279px) {
    max-width: 736px;
    padding: 88px 16px 626px 15px;
  }

  @media (max-width: 767px) {
    padding: 89px 16px 746px 16px;
  }
}

.events__button {
  max-width: $card-width;
  background-color: #3E99ED;
  border: none;
  @include  font-style ($size: 18px, $height: 24px);
  display: block;
  color: $font-color-light;
  border-radius: 24px;
  margin: 53px auto 0 auto;
  padding: 7px 125px 9px 127px;
  opacity: 1;
  transition: opacity 0.3s ease;

  @media (max-width: 767px) {
    max-width: $card-width-small;
    height: 32px;
    @include  font-style;
  }
}

.events__button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
}