.link {
  opacity: 1;
  transition: opacity 0.3s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  &:focus {
    box-shadow: 0 5px 10px gray;
    outline: none;
  }

  &:active {
    opacity: 0.4;
  }
}