.link-text {
  opacity: 1;
  transition: opacity 0.3s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    outline: none;
  }

  &:focus {
    color: $color-focus;
    outline: none;
  }

  &:focus > .card-event__organizer {
    color: $color-focus;
  }

  &:focus > .card-event__title {
    color: $color-focus;
  }
}